<div class="footer">
  <div class="footer__left"></div>
  <div class="footer__center">
    <a routerLink="Contact"
      ><img
        src="assets/images/iconfinder_circle-google-plus_317751.svg"
        alt="Contact"
    /></a>
    <a href="https://www.linkedin.com/in/benjamin-ferdinand-945a40158/"
      ><img
        src="assets/images/iconfinder_circle-linkedin_317750.svg"
        alt="Linkedin"
    /></a>
  </div>
  <div class="footer__right">
    <a href="https://github.com/BenFerd?tab=repositories"
      ><img src="assets/images/iconfinder_github_317712.svg" alt="Github"
    /></a>
  </div>
</div>
