<div >
    <div class="page-content">
        <div class="card">
            <div class="content">
                <h2 class="title">Test</h2>
                <p class="copy">Lorem, ipsum dolor </p>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Test</h2>
                <p class="copy">Lorem, ipsum dolor </p>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Test</h2>
                <p class="copy">Lorem, ipsum dolor </p>
            </div>
        </div>
        
    </div>
</div>