<div id="stars">
  <div id="stars1"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>

  <div class="title-wrapper">
    <h1>Bienvenue !</h1>
    <h5><img src="assets/images/benCV.jpg" alt="" />Benjamin Ferdinand</h5>
  </div>
  <div class="pdf">
    <div class="hexagon-wrapper">
      <div class="hexagon">
        <a
          class="btn__pdf"
          href="assets/ressources/CurriculumVitae_Ferdinand.pdf"
          title="CV.pdf"
          ><i class="far fa-file-pdf"></i
        ></a>
      </div>
    </div>
  </div>
</div>

<div class="page-content">
  <div class="card" id="card1">
    <div class="content">
      <h2 class="title">
        Développeur <br /><br /><img
          src="assets/images/marker.svg"
          id="positionSvg"
        />
        Charleroi, BE
      </h2>
      <p class="copy">
        Développeur web front-end et <br />
        back-end
      </p>
    </div>
  </div>
  <div class="card" id="card2">
    <div class="content">
      <h2 class="title">Compétences</h2>
      <div class="copy">
        <table>
          <td>
            <tr>
              Html
            </tr>
            <tr>
              CSS
            </tr>
            <tr>
              Sass
            </tr>
            <tr>
              Javascript
            </tr>
            <tr>
              Angular
            </tr>
            <tr>
              React
            </tr>
          </td>
          <td>
            <tr>
              PHP
            </tr>
            <tr>
              Symfony
            </tr>
            <tr>
              Drupal
            </tr>
            <tr>
              Api Rest
            </tr>
            <tr>
              XML
            </tr>
            <tr>
              ...
            </tr>
          </td>
        </table>
      </div>
    </div>
  </div>
  <div class="card" id="card3">
    <div class="content">
      <h2 class="title">Formation</h2>
      <ul class="copy">
        <li>2020 Développement web @ TechnofuturTIC</li>
        <br />
        <li>2014 Bachelier en gestion</li>
        <br />
        <li>2013 Bachelier en Sciences Informatique</li>
      </ul>
    </div>
  </div>
  <div class="card" id="card4">
    <div class="content">
      <h2 class="title">Mes intérêts</h2>
      <p class="copy">
        La cuisine, les voyages, apprendre et devenir meilleur au quotidien.
      </p>
    </div>
  </div>
  <div class="flip" id="card5">
    <div class="front">
      <img src="assets/images/iconfinder_spotify_317728.svg" /><br /><br />
      <p>Ce que j'écoute en codant</p>
    </div>
    <div class="back">
      <iframe
        src="https://open.spotify.com/embed/playlist/3dHUiuBri1xHl8gk1Uk0ZT"
        width="300"
        height="380"
        frameborder="0"
        allowtransparency="true"
        allow="encrypted-media"
      ></iframe>
    </div>
  </div>
</div>
